@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
:root {
    --heading-font: "Overlock", sans-serif;
    --body-font: "Lato", sans-serif;
    --primary-color: #E7272D;
}
/* Common CSS */
* {
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
li {
    list-style: none;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
/* Shared CSS */
.heading {
    font-family: var(--heading-font);
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
}
.card-heading {
    font-family: var(--heading-font);
    font-size: 22px;
    font-weight: 600;
    color: #1B1B1B;
    margin: 3px 0 16px;
}
/* Header CSS */
.for-bg {
    margin-bottom: 80px;
    background-image: url(../images/banner-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(8, 0, 0, 0.5);
        z-index: -1;
    }
}
.header {
    padding: 30px 0 0;
}
.header nav {
    padding: 0 30px;
    border-radius: 10px;
    .menu-list {
        margin: 0 auto;
    }
    .menu-list li {
        font-family: var(--body-font);
        font-size: 20px;
        font-weight: 700;
        margin: 0 10px;
        position: relative;
        a {
            color: rgba(11, 0, 0, 0.7) !important;
            &:hover {
                color: #0B0000 !important;
            }
        }
        &::after {
            content: "";
            width: 0;
            height: 3px;
            background-color: var(--primary-color);
            position: absolute;
            border-radius: 2px;
            transition: all ease 0.4s;
        }
        &:hover::after {
            width: 100%;
        }
    }
    img {
        width: 141px;
        height: 69px;
    }
    .cart-icon {
        i {
            padding-right: 30px;
            color: #000000;
            font-size: 26px;
            border-right: 1px solid rgba(0, 0, 0, 0.3);
        }
        p {
            width: 20px;
            height: 20px;
            background-color: var(--primary-color);
            line-height: 20px;
            font-size: 13px;
            color: #fff;
            top: -8px;
            right: 19px;
        }
    }
}
.header .dot {
    cursor: pointer;
}
.header ul .dot-1 {
    margin: 7px 0 7px auto;
    width: 37px;
    height: 3px;
    background-color: #020000;
}
.header ul .dot-2 {
    margin: 7px 0 7px auto;
    width: 48px;
    height: 3px;
    background-color: #020000;
}
.header ul .dot-3 {
    margin: 7px 0 7px auto;
    width: 24px;
    height: 3px;
    background-color: #020000;
}
/* Banner CSS */
.banner-section {
    padding: 105px 0 150px;
}
.banner-section .banner {
    h1 {
        margin-bottom: 30px;
        font-family: var(--heading-font);
        font-size: 145px;
        line-height: 140px;
        font-weight: 400;
        color: #fff;
    }
    span {
        width: 300px;
        height: 62px;
        font-family: var(--heading-font);
        background-color: var(--primary-color);
        font-size: 36px;
        line-height: 62px;
        font-weight: 700;
        margin: 0 0 20px 479px;
        color: #fff;
    }
    p {
        font-family: var(--body-font);
        font-size: 24px;
        font-weight: 400;
        margin: 0 27px 0 325px;
        color: #fff;
    }
    .line {
        width: 235px;
        height: 2px;
        background-color: var(--primary-color);
    }
}
/* Best Food Section CSS */
.food-menu {
    margin-bottom: 80px;
}
.food-menu .menu-items {
    .menu-text {
        h2 {
            max-width: 500px;
            margin-bottom: 20px;
        }
        .sub-text {
            p {
            width: 264px;
            font-family: var(--body-font);
            font-size: 15px;
            font-weight: 400;
            color: #666666;
            line-height: 26px;
            margin-bottom: 13px;
            }
        }
        .time {
            /* border: 1px solid #CCCCCC; */
            background-color: #1B1B1B;
            color: #fff;
            padding: 20px 29px 9px 25px;
            img {
                bottom: 0;
                left: 0;
            }
            h4 {
                font-family: var(--body-font);
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 5px;
            }
            p {
                font-family: var(--body-font);
                font-size: 13px;
                font-weight: 400;
                width: 208px;
                margin-bottom: 14px;
            }
        }
    }
    a {
        width: 195px;
        height: 55px;
        background-color: var(--primary-color);
        font-family: var(--body-font);
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        line-height: 55px;
    }
}
/* Cart Item CSS */
.specials-menu {
    margin-bottom: 80px;
}
.specials-menu .menu-bar {
    margin-bottom: 50px;
    h2 {
        margin-bottom: 30px;
    }
    .menu-list {
        padding: 15px 30px 14px;
        margin: 0 auto;
        width: 848px;
        height: 85px;
        border: 1px solid #CCCCCC;
        border-radius: 10px;
    }
    a {
        display: inline-block;
        padding: 14px 29px;
        border-radius: 10px;
        font-family: var(--body-font);
        font-size: 18px;
        line-height: 28px;
        font-weight: 700;
        color: #1B1B1B;
        text-transform: uppercase;
        transition: all ease .3s;
        &:hover {
            color: #fff;
            background-color: var(--primary-color);
            
        }
    }
}
.specials-menu .cart-items {
    .cart-item {
        margin-bottom: 30px !important;
    }
    .price {
        width: 263px;
        height: 55px;
        background-color: #fff;
        bottom: 0;
        left: 0;
        border-top-right-radius: 7px;
        border-left: 1px solid #CCCCCC;
        padding: 0 0 0 20px;
        line-height: 60px;
        strong {
            margin-right: 32px;
            font-family: var(--body-font);
            font-size: 18px;
            font-weight: 700;
        }
        i {
            color: var(--primary-color);
            margin-right: 5px;
        }
        span {
            font-family: var(--body-font);
            font-size: 16px;
            font-weight: 700;
        }
    }
    .card-text {
        border-bottom: 1px solid #CCCCCC;
        border-right: 1px solid #CCCCCC;
        border-left: 1px solid #CCCCCC;
        padding: 0 0 30px 19px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        p {
            font-family: var(--body-font);
            font-size: 16;
            font-weight: 400;
        }
        .circle {
            width: 10px;
            height: 10px;
            background-color: var(--primary-color);
            border-radius: 50%;
            margin: 0 10px 11px;
        }
        .cart-btn {
            max-width: 313px;
            height: 55px;
            border: 1px solid var(--primary-color);
            border-radius: 25px;
            a {
                line-height: 55px;
                font-family: var(--body-font);
                font-size: 18px;
                font-weight: 700;
                color: var(--primary-color);
            }
            i {
                font-size: 25px;
                color: var(--primary-color);
                margin-right: 10px;
        }
        }
    }
}
/* Table Booking Section CSS */
.table-booking {
    padding: 60px 0 62px;
}
.table-booking .table-text {
    .section-title {
        h2 {
            font-family: var(--heading-font);
            font-size: 48px;
            font-weight: 400;
            line-height: 64px;
            color: #fff;
        }
        p {
            font-family: var(--body-font);
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            width: 549px;
            color: #fff;
        }
    }
    .breakfast-menu {
        h4 {
            font-family: var(--body-font);
            font-size: 22px;
            line-height: 28px;
            font-weight: 700;
            margin-bottom: 5px;
            color: #fff;
        }
        span {
            font-family: var(--body-font);
            font-size: 16px;
            line-height: 28px;
            font-weight: 400;
            color: #fff;
        }
    }
}
.table-booking {
    background-image: url(../images/main-banner-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 80px;
    z-index: 1;
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(5, 0, 0, 0.35);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}
.table-booking .table-form {
    .form {
        border-radius: 10px;
        background-color: #fff;
        padding: 30px;
        input {
            height: 53px;
            margin-bottom: 20px;
            border-radius: 5px;
            border: 1px solid #E7E7E7;
            padding: 0 15px;
            &:focus {
                outline: none;
            }
        }
        select {
            height: 53px;
            margin-bottom: 20px;
            border-radius: 5px;
            padding: 0 15px;
            border: 1px solid #E7E7E7;

        }
        button {
            width: 199px;
            height: 53px;
            background-color: var(--primary-color);
            border: none;
            font-family: var(--body-font);
            font-size: 18px;
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;
        }
    }
}
/* Food Gallery CSS */
.food-gallery {
    margin-bottom: 80px;
}
.food-gallery .foods {
    .food-item {
        position: relative;
        .line-1 {
            height: 374px;
            width: 3px;
            background-color: var(--primary-color);
            position: absolute;
            bottom: 15px;
            left: 65px;
            margin-right: 15px;
        }
        img {
        }
        .food-title {
            position: absolute;
            bottom: 35px;
            left: 50px;
            color: #fff;
            h4 {
                font-family: var(--heading-font);
                font-size: 22px;
                font-weight: 700;
                padding-left: 30px;
            }
            span {
                font-family: var(--body-font);
                font-size: 16px;
                font-weight: 400;
                padding: 0 0 15px 30px;
                margin-bottom: 15px;
            }
        }
        .line-2 {
            width: 287px;
            height: 3px;
            background-color: var(--primary-color);
        }
    }
    .for-mb {
        margin-bottom: 36px;
    }
}
/* Footer CSS */
.footer-section {
    z-index: 1;
    img {
        z-index: -1;
    }
    background-color: #1B1B1B;
    padding: 60px 0;
    .footer-logo {
        margin-bottom: 60px;
        .line-left {
            width: 475px;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.30);
            margin-right: 25px;
        }
        img {
            width: 140px;
            height: 68.96px;
        }
        .line-right {
            width: 475px;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.30);
            margin-left: 25px;
        }
    }
    .footer-content {
        .about-us {
            h5 {
                font-family: var(--heading-font);
                font-size: 22px;
                font-weight: 700;
                line-height: 32px;
                color: #fff;
                margin-bottom: 20px;
                }
            p {
                font-family: var(--body-font);
                font-size: 18px;
                line-height: 28px;
                color: #CCCCCC;
                font-weight: 400;
                width: 261px;
                margin-bottom: 30px;
            }
            .social-icon {
                i {
                    margin: 0 3px;
                    width: 35px;
                    height: 35px;
                    text-align: center;
                    line-height: 35px;
                    background-color: #3F3F3F;
                    color: #fff;
                    transition: all ease .3s;
                    &:hover {
                        color: var(--primary-color);
                        background-color: #fff;
                    }
                }
            }
        }
        .explore {
            h5 {
                font-family: var(--heading-font);
                font-size: 22px;
                font-weight: 700;
                line-height: 32px;
                color: #fff;
                margin-bottom: 20px;
                }
                a {
                    font-family: var(--body-font);
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 40px;
                    color: #CCCCCC;
                }
        }
        .contact-info {
            h5 {
                font-family: var(--heading-font);
                font-size: 22px;
                font-weight: 700;
                line-height: 32px;
                color: #fff;
                }
                .address {
                    i {
                        width: 35px;
                        height: 35px;
                        background-color: var(--primary-color);
                        color: #CCCCCC;
                        line-height: 35px;
                        font-size: 22px;
                        margin-right: 15px;
                    }
                    p {
                        font-family: var(--body-font);
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 28px;
                        color: #CCCCCC;
                        margin: 20px 0 16px;
                        width: 211px;
                    }
                }
                .phone {
                    /* margin-top: 7px; */
                    i {
                        width: 35px;
                        height: 35px;
                        background-color: var(--primary-color);
                        color: #CCCCCC;
                        line-height: 35px;
                        font-size: 20px;
                        margin-right: 15px;
                    }
                    p {
                        width: 211px;
                        font-family: var(--body-font);
                        font-size: 18px;
                        line-height: 28px;
                        font-weight: 400;
                        color: #CCCCCC;
                    }
                }
                .gmail {
                    margin-top: 15px;
                    i {
                        width: 35px;
                        height: 35px;
                        background-color: var(--primary-color);
                        color: #CCCCCC;
                        line-height: 35px;
                        font-size: 22px;
                        margin-right: 15px;
                    }
                    p {
                        width: 211px;
                        font-family: var(--body-font);
                        font-size: 18px;
                        line-height: 28px;
                        font-weight: 400;
                        color: #CCCCCC;
                    }
                }
                
        }
        .subscription {
            h5 {
                font-family: var(--heading-font);
                font-size: 22px;
                font-weight: 700;
                line-height: 32px;
                color: #fff;
                margin-bottom: 20px;
                }
                p {
                    width: 350px;
                    font-family: var(--body-font);
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: 400;
                    color: #CCCCCC;
                    margin-bottom: 30px;
                }
                input {
                    height: 50px;
                    border-radius: 5px;
                    border: 1px solid rgba(255, 255, 255, 0.20);
                    background-color: transparent;
                    color: rgba(255, 255, 255, 0.20);
                    padding-left: 18px;
                    margin-bottom: 15px;
                    &:focus {
                        outline: none;
                    }
                    &::placeholder {
                        font-family: var(--body-font);
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 28px;
                        color: rgba(255, 255, 255, 0.20);
                    }
                }
                .last-button {
                    width: 117px;
                    height: 40px;
                    background-color: var(--primary-color);
                    border-radius: 5px;
                    border: none;
                    font-family: var(--body-font);
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: 400;
                    color: #CCCCCC;
                }
        }
    }
}
footer {
    padding: 19px 0 18px;
    background-color: #262525;
    font-family: var(--body-font);
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #CCCCCC;
}